* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header {
    text-align: center;
    padding: 20px 0; 
}

h1 {
    color: rgb(255, 174, 0);
    text-shadow: #555 0px 0px 2px,   #555 0px 0px 2px,   #555 0px 0px 2px,
                 #555 0px 0px 2px,   #555 0px 0px 2px,   #555 0px 0px 2px;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.wrapper {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: calc(100vw * 0.5);
    display: flex;
}

.slide {
    width: 100%;
    height: 100%;
    transform: translate(100%, 0);
    transition: transform ease-in-out .5s;
}

input {
    display: none;
}

.labels {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    gap: 3px;
}

label {
    /* border: 1px solid red; */
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

label:last-child {
    padding-right: 0;
}

label::before {
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    transition: all ease-in-out .3s;
}

.text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.strings {
    display: flex;
    flex: 1;
    height: 20px;
    flex-wrap: wrap;
    overflow: hidden;
}

.string {
    width: 100%;
    opacity: 0;
    transition: opacity ease-in .5s;
}

label:hover::before {
    background: #555;
}

label:active:hover:before {
    background: rgb(31, 245, 24);
}

#slide1:checked ~ .text-wrapper .labels label:nth-of-type(1)::before,
#slide2:checked ~ .text-wrapper .labels label:nth-of-type(2)::before,
#slide3:checked ~ .text-wrapper .labels label:nth-of-type(3)::before,
#slide4:checked ~ .text-wrapper .labels label:nth-of-type(4)::before,
#slide5:checked ~ .text-wrapper .labels label:nth-of-type(5)::before {
	background: #FFA500;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
    transform: translate(0, 0);
    order: -1;
}

#slide1:checked ~ .text-wrapper .strings > .string1,
#slide2:checked ~ .text-wrapper .strings > .string2,
#slide3:checked ~ .text-wrapper .strings > .string3,
#slide4:checked ~ .text-wrapper .strings > .string4,
#slide5:checked ~ .text-wrapper .strings > .string5 {
	opacity: 1;
    order: -1;
} 

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 3px double gray;
    padding: 10px;
    align-items: center;
}

.github a {
    text-decoration: none;
    color: rgb(8, 8, 8);
}
.github:hover a {
    color: #FFA500;
}

.school:hover a {
    filter: invert(86%) sepia(31%) saturate(7429%) hue-rotate(356deg) brightness(97%) contrast(109%);
}

/*  Media queries */
